#Ocultar a exibição dos diretorios

Options -Indexes

#URL amigaveis - modulo re_write deve estar ativo

RewriteEngine On 

#URL base do projeto
RewriteBase "/"

#Reescrita de URL
RewriteCond %{SCRIPT_FILENAME} !-f
#RewriteCond %{SCRIPT_FILENAME} !-d
#RewriteCond %{SCRIPT_FILENAME} !-l

RewriteRule ^(.*)$ index.php/$1 [L]


